<h1>Edit Photo</h1>

<div class='edit-page'>
  {{#with editPhoto}}
    <form action="/gallery/{{id}}" method="POST">
      <label form="author">Author</label>
      <input type="text" name="author" value="{{author}}">

{{!--       <label form="link">Link</label>
      <input type="text" name="link" value="{{link}}"> --}}

      <label form="description">Description</label>
      <input type="text" name="description" value="{{description}}">

      <div class="add_meta_field">
        <ul id="meta_fields"></ul>
        <button id="add_meta_field_button" type="button" >Add Meta Data</button>
      </div>
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="Edit">
    </form>
    <form action="/" method="GET">
      <input type="submit" value="Gallery">
    </form>

  <img src="{{link}}" alt="">
  <br>
  <br>
  Author: {{author}}
  <br>
  <br>
  Description: {{description}}
  {{/with}}
</div>

<script src="/js/metaFields.js"></script>
