  <div class = "gallery">
    {{#each photos}}
      <div class="all-photos">
        <img class="all-images" id="{{id}}" src="{{link}}">
        <h3 class="title">{{title}}</h3>
        <p class="author" >Author: {{author}}</p>
        <p class="description" >{{description}}</p>

      </div>
    {{/each}}
  </div>